langchain
python-dotenv
langchain-community
pypdf
bs4
arxiv
Wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
gradio
openai
langchain_nvidia_ai_endpoints
langchain_community
crewai
crewai_tools
